@import "libs";

.container{
    // width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 15px;
}
*{
    box-sizing: border-box;
}

body{
    background: #000;
}



.row{
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);
    // align-items: center;
}

.burger{
    display: none;
    margin: 10px 20px;
    text-align: right;
    svg{
        width: 30px;
        height: 30px;
        fill: #fff;
    }
}

.form{
    width: 50%;
    padding: 0 20px;
    text-align: center;
    input{
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 0;
        border: 2px #ccc solid;
        border-radius: 10px;
        text-align: center;
    }

    label{
        display: none;
        margin-right: 20px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 2;
        svg{
            fill: #ccc;
            width: 25px;
            height: 25px;
        }
    }
    
    &-search{
        position: relative;
        h5{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }
    &-list{
        height: calc(100% - 52px);
        padding-top: 30px;
        overflow-y: scroll;
        .row{
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 5px 0;
            margin: 10px 0;
            height: 100px;
            border-radius: 10px;
            background: rgba(#fff, .4);
            &:focus{
                background: rgba(#fff, .9);
            }
        }
    }

}

.image{
    width: 49%;
    height: 100%;
    img{
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
    }
}

.discription{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    h4{
        margin-bottom: 20px;
    }
    
}

.playlist{
    width: 50%;
    text-align: center;
    border: 2px #fff solid;
    border-radius: 10px;
    overflow-y: scroll;
    &-title{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 52px;
        
        text-transform: uppercase;
        color: #fff;
    }
    .row{
        margin: 10px 10px;
        padding: 10px;
        height: auto;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 2px #fff solid;
        border-radius: 10px;
        color: #fff;
        animation: show .5s linear;
        audio{
            width: 100%;
            height: 30px;
            margin-top: 10px;
        }
    }
    @keyframes show {
        0%{
            margin-top: 50px;
        }
        100%{
            margin-top: 10px;
        }
    }
    .image{
        width: 20%;
    }
    .discription{
        width: 40%;
    }
    .controlPlaylist{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .like{
            fill: #DC143C;
            stroke: #DC143C;
        }
        svg{
            width: 31px;
            height: 30px;
            stroke: #fff;
            stroke-width: 20px;
        }
    }
    button{
        padding: 10px 20px;
        background: rgba(#000, 0);
        border: 2px #ccc solid;
        border-radius: 10px;
        color: #ccc;
        transition: all .3s linear;
        &:hover{
            color: #000;
            border-color: #fff;
            background: #fff;
        }
    }
}

.playlist.active{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 10;
    animation: showPlaylist .5s linear;
}
@keyframes showPlaylist{
    0%{
        bottom: 100%
    }
    80%{
        bottom: -30%;
    }
    100%{
        bottom: 0;
    }
}

@media (max-width:  992px){
    .container{
        padding: 0 15px;
    }
    .burger{
        display: block;
    }
    .form{
        width: 100%;
    }
    .playlist{
        display: none;
    }

}

